/* basic setting */
$step-undone: #afb1bd;
$step-done: #2a2a2a;
$btn-next: #f67599;
$form-label: #808080;
$pale-grey: #f0f0f5;

@mixin alignCenter($margin-top: -13px) {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: $margin-top;
}